@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.Appointment {
  min-height: 700px;
  #spacediv1 {
    margin-top: 120px;
    h1 {
      font-size: 50px;
      font-weight: 700;
      font-style: italic;
      font-family: "DM Sans", sans-serif;
      color: rgba(48, 123, 196, 1);
    }
    #carddoctor {
      background-color: rgba(141, 141, 141, 0.368);
      border-radius: 10px;
      h2 {
        font-size: 36px;
        font-weight: 600;
      }
      h6 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.52);
      }
    }
    .img {
      img {
        border-radius: 10px;
      }
    }
    .datauser {
      margin-top: 50px;
      background-color: rgba(193, 226, 245, 1);
      border-radius: 30px;
      .section1 {
        background-color:  rgba(141, 141, 141, 0.368);
        border-radius: 20px;
        img {
          border-radius: 50%;
        }
        h5 {
          font-size: 28px;
          font-weight: 600;
        }
      }
      #carduser {
        background-color:  rgba(141, 141, 141, 0.368);
        border-radius: 30px;
        height: 200px;
        button{
            background-color: rgba(193, 226, 245, 1);
            outline: none;
            border: none;
            border-radius:20px ;
        }
      }
      .btnstyles{
          button{
           background-color: rgba(141, 141, 141, 0.368);
            outline: none;
            border: none;
            border-radius:20px ;
        }
      }
    }
  }
}
