.parent {
  min-height: 100vh;
}
.divresearsh {
  margin-top: 130px;
  /* display: flex; */
  span {
    color: #0c3275;
    font-size: 18px;
    font-family: "Poppins", serif;
  }
  .divinput {
    border: 1px solid #0c3275;
    /* margin-right: 70px; */
    input {
      border: none;
      outline: none;
    }
    input::placeholder {
      color: #0c3275;
    }
  }
}
.doctorswiper {
  border-bottom: 1px solid #0c327538;
  #span {
    font-size: 25px;
    color: #0c3275;
  }
  .Cardstyl {
    background: linear-gradient(
      196.21deg,
      rgba(227, 241, 255, 0.58) -3.51%,
      #ffffff 36.96%
    );
    /* border: 1px solid  transparent;
    border-image: linear-gradient(
      180deg,
      rgba(12, 50, 117, 0) 0%,
      rgba(48, 123, 196, 0.4) 100%
    );
    border-image-slice: 1; */
    border: 1px solid rgba(48, 122, 196, 0.201);
    border-radius: 15px;
    color: #0c3275;
    .titlecard {
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }
    .textcaed {
      font-size: 16px;
    }
    .linkcard {
      background: #0c32751a;
      border: 1px solid #0c327580;
    }
  }
}
.div2 {
  .imgdiv {
    background: linear-gradient(
      196.21deg,
      rgba(227, 241, 255, 0.58) -3.51%,
      #ffffff 36.96%
    );
    border-radius: 25px;
    width: 280px;
    height: 280px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  span {
    font-size: 25px;
    color: #0c3275;
  }
  .contantdata {
    background: linear-gradient(
      196.21deg,
      rgba(227, 241, 255, 0.58) -3.51%,
      #ffffff 36.96%
    );
    box-shadow: 0px 4px 11.4px 0px #307bc426;
    border-radius: 25px;
    /* padding: 80px 0; */
    h4 {
      font-size: 28px;
      font-weight: 600;
      color: #274760;
    }
    span {
      font-size: 17px;
      color: #274760;
    }
    p {
      font-size: 14px;
      color: #27476085;
      margin: 0;
    }
  }

  .bordericon {
    background-color: #307bc4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
  }
  .HaveTest {
    background-color: #307bc4;
    border-end-end-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #ffffff;

    span {
      color: #ffffff;
    }
  }
}
 #star{
    span{
      color: #faaf00 !important;
    }
  }
@media screen and (min-width:768px) and (max-width:1024px) {
  .Cardstyl{
    width: 18rem !important;
  }
  .imgdiv{
    width: 240px !important;
  }
}
@media screen and (max-width:767px) {
   .Cardstyl{
    width: 17rem !important;
    height: 400px !important;
    #imgcard{
      height: 250px !important;
    }
    #cardbody{
      height: 200px;
    }
  }
  .imgdiv{
    width: 240px !important;
  }
  #smallflex{
    display: flex !important;
    flex-direction: column !important;
  }
}