.parent {
  /* min-height: 100vh; */
  #question1 {
    min-height: 600px;
    max-height: 90%;
    /* margin-top: 8%; */
    background: linear-gradient(119.31deg, #2ac6ea70 17.16%, #007fff 89.78%);
    .div2 {
      margin-left: 150px !important;
      /* margin-top: 20px !important; */
      img {
        width: 390px;
        height: 399px;
        border-radius: 20px;
      }
      .contantdata {
        margin-left: -380px;
        margin-bottom: -360px;
        background: white;
        box-shadow: 0px 4px 11.4px 0px #307bc426;
        border-radius: 25px;
        padding: 10px 0;
        h4 {
          font-size: 28px;
          font-weight: 600;
          color: #274760;
        }
        span {
          font-size: 17px;
          color: #274760;
        }
        p {
          font-size: 14px;
          color: #27476085;
          margin: 0;
        }
      }

      .bordericon {
        background-color: #307bc4;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        font-size: 15px;
      }
      .HaveTest {
        background-color: #307bc4;
        border-end-end-radius: 25px;
        border-bottom-left-radius: 25px;
        color: #ffffff;

        span {
          color: #ffffff;
        }
      }
    }
    .HaveTest {
      background-color: #307bc4;
      border-end-end-radius: 25px;
      border-bottom-left-radius: 25px;
      color: #ffffff;

      span {
        color: #ffffff;
      }
    }
    #btnaddd {
      background-color: rgb(255, 255, 255);
      color: #274760 !important;
      border-radius: 10px;
      font-weight: 500;
    }
  }
  .divqqa {
    /* min-height: 500px;
    max-height: 90%; */
  }
  #Qa {
    #singleqa {
      margin-top: 100px;
      /* background-color: #307bc4; */
      border-radius: 10px;
      background-color: rgba(221, 231, 255, 1);
      color: rgba(12, 50, 117, 1)!important;
      border: 1px solid rgba(12, 50, 117, 1);

    }
    span {
      font-weight: 500;
    }
  }
  #icon {
    font-size: 18px;
    font-weight: 500;
  }
}
/* border: 1px solid rgba(12, 50, 117, 1);
background-color: rgba(221, 231, 255, 1);
border-radius: 20px;
color: rgba(12, 50, 117, 1);
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 20px; */
