.imgesbg{
    background-image: url(../../assets/404.png);
    background-position: 50%;
    background-size: auto; 
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 90%;
}
.goback{
    background-color: #3e64c3;
    color: white;
    font-weight: 600;
    font-size: 30px;
    border: 0.5px solid  #3e64c3;
    outline: none;

}

