.parents {
  min-height: 100vh;
  max-height: 90%;
}
.scrollswiper {
  min-height: 500px;
}
.div2paragraph{
  min-height: 60vh;
  max-height: 90%;
  position: relative;
  .divblue {
  background-color: #307BC4;
  border-radius: 10px;
  button{
    border: 2px solid #307BC4;
    color: #307BC4;
    outline: 25px solid white;
    background-color: white;
    font-weight:600 ;
    position: absolute;
    right: 17%;
    bottom: 72%;
    font-size: 20px;
  }
  h4{
    font-family: "Inter", serif;
    color: white;
    margin-top: 20px;
    font-size: 40px;
    // font-weight: 600;
  }
  p{
    font-size: 14px;
    font-family: "Inter", serif;
    color:#FFFFFF;
  }
}
}
.div3swiper{
  min-height: 100vh;
  max-height: 90%;
 h3{
  color: #0C3275;
  margin-bottom: 30px;
 } 
 .btn1{
  background: #508BC4;
  border: 1px solid #0C327580;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 300px ;
 }
 .btn2{
  background: #C0E0FF;
  border-radius: 10px;
  border: 1px solid #0C327580
 }
}
@media screen and (max-width: 767px) {
  .div2paragraph .divblue h4 {
    margin-top: 40px;
  }

  .scrollswiper{
    min-height: 0;
  }
  .btn1{
    padding: 12px 55px !important ;

  }
  .divblue{
    h4{
      font-size: 25px !important;
    }
    p{
      font-size: 10px !important;
    }
    button{
      outline: 10px  solid white!important;
      right: 8% !important;
      bottom: 310px !important;
    }
  }
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .div3swiper{
    margin-top: 50px;
  }
  .scrollswiper{
    min-height: 0;
  }
  .btn1{
    padding: 18px 220px !important ;

  }
  .div2paragraph{
    margin-top: 100px !important;
    .divblue button {
     right: 5%;
  }
  } 
}
